[submodule "third_party/httpx.zig"]
	path = third_party/httpx.zig
	url = https://github.com/muhammad-fiaz/httpx.zig.git
[submodule "third_party/actix-web"]
	path = third_party/actix-web
	url = https://github.com/actix/actix-web.git
[submodule "third_party/bun"]
	path = third_party/bun
	url = https://github.com/oven-sh/bun.git
[submodule "third_party/nginx"]
	path = third_party/nginx
	url = https://github.com/nginx/nginx.git
[submodule "third_party/echo-nginx-module"]
	path = third_party/echo-nginx-module
	url = https://github.com/openresty/echo-nginx-module.git
[submodule "third_party/caddy"]
	path = third_party/caddy
	url = https://github.com/caddyserver/caddy.git
[submodule "third_party/nghttp2"]
	path = third_party/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "third_party/haproxy"]
	path = third_party/haproxy
	url = https://github.com/haproxy/haproxy.git

[submodule "third_party/envoy"]
	path = third_party/envoy
	url = https://github.com/envoyproxy/envoy.git
	branch = release/v1.39
